# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3

# Environments
.env
.venv
env/
venv/
ENV/

# Django
local_settings.py
staticfiles/
media/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Migrations
**/migrations/
